.main {
    text-align: center;
    min-height: 100vh;
    background-color: lightgrey;
  }
  
.noBox {
    background-color: blue;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ccc;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    margin: 20px;
  }

.titleStyle {
    background-color: lightgrey;
    text-align: center;
}
.saveButton {
    visibility: hidden;
}
.titleStyleInput {
    background-color: white;
}

.removeOuterFile {
    font-size: xx-small;

}